@import '@constants/media-sizes';
@import '@constants/sizes';
@import '@constants/font-sizes';

.content {
    display: flex;
    flex-direction: column;

    &__wrapper {
        margin: $size-16px;
        @media all and (min-width: $sm) {
            margin: $size-20px $size-24px;
        }
    }

    @media all and (min-width: $sm) {
        flex-direction: row;
    }

    &__card {
        margin-bottom: $size-16px;
    }

    &__user {
        font-size: $font-size-p-16px;

        @media all and (min-width: $sm) {
            min-width: $size-174px;
            flex-direction: column;
        }
    }
}
