@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';
@import '@constants/font-sizes';

.mainCard {
    color: $color-black-85;
    max-width: $size-704px;
    background-color: $color-bg;
    padding: $size-24px;

    @media all and (max-width: $xs) {
        padding: $size-16px $size-24px $size-16px $size-16px;
    }
}

.about {
    color: $clr-light_blue-9;
    display: flex;
    flex-direction: column;
    font-size: $font-size-p-16px;
    line-height: 130%;
    max-width: $size-752px;
}

.description {
    padding: $size-0px;
}

.h4 {
    margin: $size-0px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: $size-8px;
    max-width: $size-704px;
    margin: $size-0px $size-16px;

    @media all and (min-width: $sm) {
        flex-direction: row;
        gap: $size-16px;
        margin: $size-0px $size-24px;
    }
}

.mainSection {
    display: flex;
    flex-direction: column;
    gap: $size-24px;
    margin: $size-24px $size-24px $size-16px;

    @media all and (max-width: $xs) {
        margin: $size-24px $size-16px $size-16px;
    }
}
