@import '@constants/colors';

.content {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: $bg-dark-color;
    display: flex;
    align-items: center;
    justify-content: center;
}
