@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';

.auth {
    flex: 1;

    &Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-position: center;
        width: 100%;
        background-color: $bg-light-color;
        padding: $size-0px $size-16px $size-8px;

        @media all and (min-width: $sm){
            padding-bottom: $size-52px;
        }

        @media all and (min-width: $lg){
            padding-bottom: $size-2px;
        }

        &:after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            background: cover url('../../assets/img/auth_ page_light.png') center;
            display: block;
            height: 100%;
            z-index: -1;
            filter: blur($size-2px);
        }
    }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: $size-42px;
}

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}
