.btn {
    width: 100%;
    font-size: 14px;
    padding: 7px 0;
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
