@import '@constants/sizes';
@import '@constants/font-sizes';

.btn {
    width: 100%;
    font-size: $font-size-p-14px;
    padding: $size-7px $size-0px;
    margin: $size-12px $size-0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $size-8px;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
