@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';

.CEWrapper {
    width: 100%;

    margin: auto $size-32px;
    padding: $size-40px $size-16px $size-28px;

    @media all and (min-width: $sm) {
        min-width: $size-368px;
        max-width: $size-539px;
    }

    &__title {
        margin-bottom: $size-0px;
        letter-spacing: $size-0_5px;
    }

    &__subTitle {
        letter-spacing: $size-0_5px;
        color: $color-black-45;
        padding: $size-0px $size-16px;

        p {
            margin: $size-0px;
        }
    }

    &__email {
        font-weight: 700;
        margin: $size-0px;
        letter-spacing: $size-0_5px;
    }
}

.subtitle {
    letter-spacing: $size-0_5px;
    color: $color-black-45;
    margin: $size-0px $size-48px $size-32px;
    text-align: center;
}
