@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';
@import '@constants/font-sizes';

.auth {
    &__page {
        display: flex;
        position: relative;
        background-position: $size-0px center;
        width: 100%;
        color: $color-white;
        background-color: $bg-light-color;

        &:after {
            content: '';
            position: fixed;
            top: $size-0px;
            left: $size-0px;
            background: cover url('../../assets/img/auth_ page_light.png') center;
            display: block;
            width: 100%;
            height: 100%;
            z-index: -1;
            filter: blur($size-2px);
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: $size-16px;
        margin-bottom: $size-92px;

        @media all and (min-width: $xs) {
            margin-bottom: $size-108px;
        }

        @media all and (min-width: $lg) {
            margin-bottom: $size-108px;
        }
    }

    &__googleBtn {
        letter-spacing: -$size-0_5px;

        font-weight: 600;
        font-size: $font-size-p-14px;

        @media all and (min-width: $sm) {
            letter-spacing: $size-0_5px;
        }
    }

    &__googleIcon {
        display: none;

        font-size: $font-size-p-14px;
        @media all and (min-width: $sm) {
            display: none;
            margin: $size-0px $size-6px;
            padding-right: $size-6px;
        }
    }

    &__title {
        margin-top: $size-32px;
    }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: $size-42px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: $size-24px;
}

.emailLabel {
    letter-spacing: $size-1px;
}

.text05 {
    letter-spacing: -$size-0_5px;
    padding-right: $size-0px;

    @media all and (min-width: $sm) {
        letter-spacing: $size-1px;
    }
}

.rememberMe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: $size-20px;
    margin: $size-0px $size-0px $size-22px;

    @media all and (min-width: $sm) {
        padding-top: $size-20px;
        margin-bottom: $size-27px;
    }

    &__link {
        cursor: pointer;
        letter-spacing: $size-0_5px;
        padding-right: $size-8px;

        @media all and (min-width: $sm) {
            letter-spacing: $size-1_5px;
            padding-right: 0;
        }
    }
}

.item {
    margin-bottom: $size-24px;
}
