$font-size-h1: 38px;
$font-size-h1-20px: 20px;
$font-size-h1-24px: 24px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 20px;
$font-size-h6: 20px;
$font-size-p-16px: 16px;
$font-size-p-14px: 14px;
$font-size-link-14px: 14px;
