$border-radius-2px: 2px;

$size-0px: 0;
$size-0: 0;
$size-0_5px: 0.5px;
$size-1px: 1px;
$size-1_5px: 1.5px;
$size-2px: 2px;
$size-4px: 4px;
$size-6px: 6px;
$size-7px: 7px;
$size-8px: 8px;
$size-9px: 9px;
$size-10px: 10px;
$size-12px: 12px;
$size-14px: 14px;
$size-15px: 15px;
$size-16px: 16px;
$size-18px: 18px;
$size-20px: 20px;
$size-22px: 22px;
$size-24px: 24px;
$size-27px: 27px;
$size-28px: 28px;
$size-30px: 30px;
$size-32px: 32px;
$size-36px: 36px;
$size-37px: 37px;
$size-38px: 37px;
$size-40px: 40px;
$size-42px: 42px;
$size-48px: 48px;
$size-50px: 50px;
$size-52px: 52px;
$size-64px: 64px;
$size-66px: 66px;
$size-92px: 92px;
$size-108px: 108px;
$size-115px: 115px;
$size-203px: 203px;
$size-208px: 208px;
$size-240px: 240px;
$size-309px: 309px;
$size-328px: 328px;
$size-360px: 360px;
$size-368px: 368px;
$size-174px: 174px;
$size-368px: 368px;
$size-424px: 424px;
$size-521px: 521px;
$size-539px: 539px;
$size-656px: 656px;
$size-704px: 704px;
$size-752px: 752px;
$size-1440px: 1440px;
$size-896px: 896px;
$size-4144px: 4144px;
