@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';

.resultWrapper {
    width: 100%;

    margin: auto $size-32px;
    padding: $size-40px $size-16px $size-28px;

    @media all and (min-width: $sm) {
        min-width: $size-368px;
        max-width: $size-368px;
    }

    &__title {
        margin-bottom: $size-0px;
        letter-spacing: $size-0_5px;
    }

    &__subTitle {
        letter-spacing: $size-0_5px;
    }
}
