.main {
    flex: 1;

    &__page {
        display: flex;
        background: url('../../../public/assets/img/bg-light.png') center;
        background-size: cover;
        width: 100%;
    }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 42px;
}
