.main {
    flex: 1;

    &__page {
        display: flex;
        background-image: url('../../../public/assets/img/bg-light.png');
        background-position: center;
        background-size: cover;
        width: 100%;
    }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}
