@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';

.logo {
    width: 100%;
    max-width: $size-203px;

    @media all and (min-width: $sm) {
        max-width: $size-309px;
    }
}
