@import '../../constants/colors';
@import '../../constants/media-sizes';

.header {
    padding: 1rem 1.5rem;
    color: $color-black-85;
    background-color: $header-bg;

    &__content {
        display: flex;
    }

    &__h1 {
        margin: 6px 0;
        padding: 10px 0 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        @media all and (max-width: $lg) {
            font-size: 1.5rem;
        }

        @media all and (max-width: $xs) {
            font-size: 1.25rem;
        }
    }

    &__settings {
        margin-top: 0.5rem;
        margin-right: -5px;
    }

    @media all and (min-width: $xs) {
        margin-right: 0;
    }
}

.button {
    padding: 0.5625rem 0.9375rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $color-bg;
        transition: all 0.3s ease-in-out;
    }

    @media all and (max-width: $lg) {
        padding: 7px 15px;
    }

    @media all and (max-width: $xs) {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid $color-black-15;
        background-color: $color-white;
        width: 2rem;
        height: 2rem;
    }

    &__icon {
        @media all and (max-width: $lg) {
            display: none;
        }

        @media all and (max-width: $xs) {
            display: inline;
        }
    }

    &__text {
        transform: scaleX(0.9);
        @media all and (max-width: $xs) {
            display: none;
        }
    }
}

.breadcrumbs {
    margin-bottom: 0;

    a {
        color: $color-black-85;
    }

    @media all and (max-width: $xs) {
        padding-bottom: 1rem;
    }
}
