@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';
@import '@constants/font-sizes';

.header {
    padding: $size-16px $size-24px;
    color: $color-black-85;
    background-color: $header-bg;

    &__content {
        display: flex;
    }

    &__h1 {
        margin: $size-6px $size-0px;
        padding: $size-10px $size-0px $size-0px;
        display: flex;
        flex-direction: column;
        width: 100%;

        @media all and (max-width: $lg) {
            font-size: $font-size-h1-24px;
        }

        @media all and (max-width: $xs) {
            font-size: $font-size-h1-20px;
        }
    }

    &__settings {
        margin-top: $size-8px;
        margin-right: -5px;
    }

    @media all and (min-width: $xs) {
        margin-right: $size-0px;
    }
}

.button {
    padding: $size-9px $size-15px;
    display: flex;
    align-items: center;
    gap: $size-4px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $color-bg;
        transition: all 0.3s ease-in-out;
    }

    @media all and (max-width: $lg) {
        padding: $size-7px $size-15px;
    }

    @media all and (max-width: $xs) {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        border: $size-1px solid $color-black-15;
        background-color: $color-white;
        width: $size-32px;
        height: $size-32px;
    }

    &__icon {
        @media all and (max-width: $lg) {
            display: none;
        }

        @media all and (max-width: $xs) {
            display: inline;
        }
    }

    &__text {
        transform: scaleX(0.9);
        @media all and (max-width: $xs) {
            display: none;
        }
    }
}

.breadcrumbs {
    margin-bottom: $size-0px;

    a {
        color: $color-black-85;
    }

    @media all and (max-width: $xs) {
        padding-bottom: $size-16px;
    }
}
