@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';
@import '@constants/font-sizes';

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: $size-16px;

    &__title {
        color: $clr-light_blue-9;
        text-align: center;
    }

    &__message {
        max-width: $size-521px;
        text-align: center;
    }

    @media all and (min-width: $sm) {
        margin: $size-24px $size-16px;
    }

    &__card {
        margin: $size-16px;
        width: 100%;
    }

    &__user {
        font-size: $font-size-p-14px;
        @media all and (min-width: $sm) {
            min-width: $size-174px;
            flex-direction: column;
        }
    }
}
