@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';
@import '@constants/font-sizes';

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    background-color: $color-bg;

    @media all and (max-width: $xs) {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__DTBtn {
        position: absolute;
        right: -$size-20px;
        top: calc(50% - $size-48px);
        width: $size-20px;
        height: $size-66px;

        @media all and (max-width: $xs) {
            display: none;
        }
    }

    &__MobileBtn {
        display: none;

        @media all and (max-width: $xs) {
            display: block;
            position: absolute;
            right: -$size-32px;
            top: $size-10px;
            width: $size-32px;
            height: $size-48px;
        }
    }
}

.logo {
    min-height: $size-64px;
    min-width: $size-208px;

    &__img {
        height: $size-64px;
        padding: $size-30px $size-0px $size-50px;

        @media all and (max-width: $xs) {
            padding: $size-9px $size-0px $size-7px;
            height: $size-50px;

            & img {
                width: $size-115px;
            }
        }
    }
}

.toggleBtn {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;

    &:before {
        background-image: url(../../assets/img/sidemenu-fixed-switcher.png);
        content: '';
        left: 0;
        min-height: $size-66px;
        min-width: $size-20px;
        position: absolute;
        top: $size-0px;

        @media all and (max-width: $xs360) {
            background-image: url(../../assets/img/sidemenu-fixed-switcher-mobile.png);
            min-height: 3rem;
            width: 32px;
            height: 48px;
        }
    }
}

.nav {
    flex: 1;

    &__li {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
        list-style: none;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: $size-20px;
        margin: $size-0px $size-16px;

        @media all and (max-width: $xs) {
            gap: $size-12px;
            margin: $size-0px;
        }
    }

    &__link {
        align-items: flex-start;
        display: flex;
        gap: $size-12px;
        justify-content: center;
        padding: $size-12px $size-0px;
        width: 100%;
        color: $color-black-85;
        font-size: $font-size-link-14px;
    }

    &_hideTitle {
        display: none;
    }

    & svg path {
        fill: $clr-light_blue-10;
    }

    &__icon {
        @media all and (max-width: $xs) {
            display: none;
        }
    }
}

.link {
    &__title {
        width: 100%;

        @media all and (max-width: $xs) {
            padding-left: $size-8px;
        }
    }
}

.exit {
    position: relative;
    margin-top: auto;
    display: flex;
    gap: $size-10px;
    align-items: center;
    min-height: $size-40px;
    border-top: $size-1px solid $color-black-06;

    &__btn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $size-16px;
        margin: $size-0px $size-16px;
    }

    &__icon {
        @media all and (max-width: $xs) {
            display: none;
        }
    }
}

.hideMobile {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media all and (max-width: $xs) {
        display: none;
    }
}

.showMobile {
    display: flex;
    flex-direction: column;
    height: 100%;
}
