@import '../../constants/colors';
@import '../../constants/media-sizes';

.footer {
    margin: 1.5rem 1rem 0;
    display: flex;
    flex-direction: column;

    @media all and (min-width: $sm) {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 2.625rem 1.5rem 0;
    }

    &__btn {
        border: none;
        background: transparent;
        color: $btn-color;
        cursor: pointer;
        text-align: center;
        min-height: 40px;
        margin-top: auto;
        margin-left: 0.75rem;
        padding-top: 2.25rem;
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: translate(0, 1rem);
            transition: all 0.5s ease-in-out;
        }

        @media all and (min-width: $sm) {
            padding-top: 0;
        }
    }
}

.app {
    display: flex;
    flex-direction: column;
    background: $color-bg;
    max-width: 20.5rem;

    @media all and (min-width: $sm) {
        max-width: 15rem;
    }

    &__txt {
        display: flex;
        flex-direction: column;
        padding: 0.75rem 1.5rem;
        gap: 0.5rem;
        border-bottom: 1px solid $color-black-06;

        @media all and (min-width: $sm) {
            margin-right: 1.375rem;
        }

        p {
            text-align: center;
            font-size: 1rem;

            @media all and (min-width: $sm) {
                text-align: left;
            }
        }

        &_primary {
            color: $btn-color;
        }

        &_secondary {
            color: $color-black-45;
            letter-spacing: -1px;

            @media all and (min-width: $sm) {
                transform: scaleX(1);
                font-stretch: 50%;
                align-self: flex-start;
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
    }
}
