@import '@constants/colors';
@import '@constants/media-sizes';
@import '@constants/sizes';
@import '@constants/font-sizes';

.footer {
    margin: $size-24px $size-16px $size-0px;
    display: flex;
    flex-direction: column;

    @media all and (min-width: $sm) {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: $size-42px $size-24px $size-0px;
    }

    &__btn {
        border: none;
        background: transparent;
        color: $btn-color;
        cursor: pointer;
        text-align: center;
        min-height: $size-40px;
        margin-top: auto;
        margin-left: $size-12px;
        padding-top: $size-36px;
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: translate(0, $size-16px);
            transition: all 0.5s ease-in-out;
        }

        @media all and (min-width: $sm) {
            padding-top: $size-0px;
        }
    }
}

.app {
    display: flex;
    flex-direction: column;
    background: $color-bg;
    max-width: $size-328px;

    @media all and (min-width: $sm) {
        max-width: $size-240px;
    }

    &__txt {
        display: flex;
        flex-direction: column;
        padding: $size-12px $size-24px;
        gap: $size-8px;
        border-bottom: $size-1px solid $color-black-06;

        @media all and (min-width: $sm) {
            margin-right: $size-22px;
        }

        p {
            text-align: center;
            font-size: $font-size-p-16px;

            @media all and (min-width: $sm) {
                text-align: left;
            }
        }

        &_primary {
            color: $btn-color;
        }

        &_secondary {
            color: $color-black-45;
            letter-spacing: -$size-1px;

            @media all and (min-width: $sm) {
                transform: scaleX(1);
                font-stretch: 50%;
                align-self: flex-start;
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
    }
}
