@import '../../../../constants/colors';
@import '../../../../constants/media-sizes';
@import '../../../../constants/sizes';

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 328px;
    background: $color-bg;
    border-radius: $border-radius-2px;
    gap: 2rem;
    padding: 2rem 1rem;

    @media all and (min-width: $sm) {
        padding: 4rem 1rem;
        max-width: 539px;
        gap: 3rem;
    }
}
