@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import './src/constants/colors';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:active {
    color: inherit;
}

h1 {
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 130%;
}

h2, h3, h4, h5 {
    font-weight: 500;
    line-height: 130%;
}

h2 {
    font-size: 2rem;
    line-height: 130%;
}

h3 {
    font-size: 1.5rem;
    line-height: 130%;
}

h4 {
    font-size: 1.25rem;
    line-height: 130%;
}

h5 {
    font-size: 1.25rem;
    line-height: 130%;
}

h6 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 130%;
}

p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 130%;
}
.ant-btn-link {
    color: $btn-color;

}
.ant-btn-primary {
    color: #fff;
    border-color: $btn-color;
    background: $btn-color;
}

.ant-form-item-explain-error {
    color: $clr-red-6;
}
